html{
  scroll-behavior: smooth;
}

ul,h2,h5,p,figure{
  margin: 0 !important;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #F0F0F0;
}

header .brand{
  font-size: 1.5rem !important;
}

header .brand,nav{
  height: fit-content !important;
}

.carousel .carousel-inner .images{
  width: 100%;
  height: 80vh;
}

.carousel .carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

main{
  display: grid;
  gap: 5rem;
}

a{
  text-decoration: none;
}

.menus ul{
  gap: 3rem;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

section{
  display: grid;
  justify-content: center;
  gap: 2rem;
}

section h2{
  text-align: center;
}

iframe{
  width: 50rem;
  height: 28rem;
}

article{
  display: flex;
  justify-content: center;
}

button{
  border: none;
}

.button-top-page{
  position: fixed;
  right: 15px;
  bottom: 15px;
  clip-path: circle();
  padding: .8rem;
  transform: translateY(100px);
  transition: .5s;
}

.button-top-page.show{
  transform: translateY(0);
}

footer{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  background-color: #C4C4C4;
}

footer .list-ordenate{
  display: grid;
}

footer .list-ordenate :is(h5,a){
  margin: 0 0 1rem !important;
}

article,footer .list-ordenate ul{
  gap: 1rem;
}

footer .list-ordenate,footer .list-ordenate :is(h5,ul){ 
  height: fit-content;
}

footer .list-ordenate :is(img):hover,button{
  cursor: pointer;
}