main{
    position: relative;
}

.wrapper-search span{
    position: relative;
    left: 3rem;
    top: 5rem;
}

.wrapper-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}