.wrapper-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

main{
    gap: 1rem;
}

.wrapper-search span{
    position: relative;
    left: 3rem;
}