.informacoes_mecanico{
    margin-left: 20px;
    margin-top: 20px;
    background-color: #EBEBEB;
    width: 500px;
    height: 100px;
}
#imagem_mecanico{
    margin-top: 5px;
    margin-left: 5px;
}
#nome_mecanico{
    margin-left:50px;
}
.buttons_mecanico{
    margin-left:50px;
}
#printDate_calendar{
    margin-left: 50px;
    margin-top:10px;
}
#logoPrint_calendar{
    margin-left: 200px;
    margin-top:8px;
}
.imprimirDataSelecao{
    margin-left: 50px;
    width: 400px;
    height: 53px;
    background-color: #FFFFFF;
    border: 1px solid black;
}
.datePicker_calendario{
    margin-left: 50px;
}
.buttonsHorarios{
    
    padding-left: 5px;   
}
.teste{
    margin-right: 10px;
    
}
.observacoesAgendamento_servico{
    width: 304px;
    height: 120px;
}